go 1.24.4

use (
	./services/auth-service
	./services/blog-service
	./services/foodfolio-service
	./services/gateway-service
	./services/link-service
	./services/notification-service
	./services/sse-service
	./services/twitchbot-service
	./services/user-service
	./services/warcraft-service
	./services/weather-service
	./services/webhook-service
	./shared
)
